.jumbotron{
    background-color: #eb6864;
    /* text-align: center; */
    height: 13em;
}

.mealInput{
    justify-content: center;
    text-align: center;
}

.submit{
    color: black;
    background-color: #eb6864;
}

.stats{
    color: black;
    background-color: #eb6864;
    text-align: center;
}

.back{
    background-color: white;
    color: black;
}

 .hide{
     display: none;
 }

  .bar-chart {
    background-color: #299fd6;

}

rect{
    color: #767676;
}