.navbar-dark{
    background-color: #eb6864;
}

.jumbotron{
    background-color: #eb6864;
    /* text-align: center; */
    height: 13em;
}

.mealInput{
    justify-content: center;
    text-align: center;
}

.submit{
    color: black;
    background-color: #eb6864;
}

.stats{
    color: black;
    background-color: #eb6864;
    text-align: center;
}

.back{
    background-color: white;
    color: black;
}

 .hide{
     display: none;
 }

 div#container {
    width: 1000px;
    height: 600px;
    margin: auto;
    background-color: #eb6864;
  }
  
  svg {
    width: 100%;
    height: 100%;
  }
  
  .bar {
    fill: white;
  }