div#container {
    width: 1000px;
    height: 600px;
    margin: auto;
    background-color: #e8ecef;
  }
  svg {
    width: 100%;
    height: 100%;
  }
  .bar {
    fill: #037bff;
  }
  .bar:hover {
    opacity: 0.5;
    transition: opacity 0.5s;
    transition: width 0.5s;
  }
  #map {
    height: 100%;
  }

  #chart {

    border: 1px solid #037bff;
}